[submodule "backend"]
	path = backend
	url = git@github.com:jonathan-f-silva/landing-dental-clinic-backend.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:jonathan-f-silva/landing-dental-clinic-frontend.git
[submodule "tests"]
	path = tests
	url = git@github.com:jonathan-f-silva/landing-dental-clinic-tests.git
